<%- include('header'); -%>

    <div class="ui main text container segment">
        <div class="ui huge header">New Blog</div>
        <form class= "ui form" action="/blogs" method="POST">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="title">
            </div>
            <div class='field'>
                <label>Image Url</label>
                <input type="text" name="image" placeholder="image">
            </div>
            <div class="field">
                <label> Say something About it</label>
                <textarea name="body" id="" cols="20" rows="5"></textarea>
            </div>
            <input type="submit" class="ui violet big basic button">
        </form>
    </div>

<%- include('footer'); -%>

